{% extends 'base.html.twig' %}

{% block title %} {{ npc.name }} - {{ parent()}}{% endblock %}

{% block body %}
<h2 class="show-title">{{ npc.name }}</h2>

<div class="show-main-flex">

    {{ include('_cardShow.html.twig', {item: npc}, with_context = false) }}

    <div class="show-sub-flex">
        <h3 class="show-subset-title">Description thématique :</h3>
        <p>{{ npc.fluff }}</p>

        <h3 class="show-subset-title">Description mécanique :</h3>
        <p>{{ npc.crunch }}</p>
    </div>
</div>

<div class="connexion-flex">

    <div class="connexion-element">
        <h3 class="element-title">Objets : </h3>
        <div class="element-list-container">
            {% for item in npc.getItem() %}
                <a class="element-name" href="">{{ item.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="connexion-element">
        <h3 class="element-title">Lieux : </h3>
        <div class="element-list-container">
            {% for location in npc.getLocation() %}
                <a class="element-name" href="">{{ location.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="connexion-element">
        <h3 class="element-title">Rencontres : </h3>
        <div class="element-list-container">
            {% for encounter in npc.getEncounter() %}
                <a class="element-name" href="">{{ encounter.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="connexion-element">
        <h3 class="element-title">Intrigues : </h3>
        <div class="element-list-container">
            {% for intrigue in npc.getIntrigue() %}
                <a class="element-name" href="">{{ intrigue.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>


<div class="show-button-flex">
    <a class="blue-button" href="{{ path('app_searchOwn') }}">Retour à Mes Notes</a>

    <a class="blue-button" href="{{ path('npc_edit', {'id': npc.id}) }}">Modifier</a>

    {{ include('npc/_delete_form.html.twig') }}
</div>

{% endblock %}
