{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}


<form class="quick-search" action="{{ path("app_searchOther") }}" method="get">
    <input class="quick-search-input" type="text" placeholder="Recherche rapide" name="searchKey">
    <input class="search-button" type="submit" value="Go !">
</form>

<section id="index-new-list">

<div class="index-new-sublist">
    <div class="index-new-title-container">
        <h3>Dernières tables aléatoires</h3>
        <div class="underline"></div>
    </div>

    {% for t in table %}
        <div class="index-card-container">
            {{ include('_card.html.twig', {item: t}, with_context = false) }}
            <div class="creator-name">Créé par {{ t.creator.username }}</div>
        </div>
    {% endfor %}
</div>

<div class="index-new-sublist">
    <div class="index-new-title-container">
        <h3>Dernières amorces</h3>
        <div class="underline"></div>
    </div>

    {% for h in hook %}
        <div class="index-card-container">
            {{ include('_card.html.twig', {item: h}, with_context = false) }}
            <div class="creator-name">Créé par {{ h.creator.username }}</div>
        </div>
    {% endfor %}
</div>

</section>
{% endblock %}
