{% extends 'base.html.twig' %}

{% block title %}Rechercher {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="list-header">Mes notes</h2>

    <section class="list-button-flex">
        <a href="{{ path('npc_new') }}" class="blue-button">Nouveau PNJ</a>
        <a href="{{ path('location_new') }}" class="blue-button">Nouveau lieu</a>
        <a href="{{ path('item_new') }}" class="blue-button">Nouvel objet</a>
        <a href="{{ path('encounter_new') }}" class="blue-button">Nouvelle rencontre</a>
        <a href="{{ path('intrigue_new') }}" class="blue-button">Nouvelle intrigue</a>
    </section>

<div class="list-main-flex">

<section class="search-sidebar">
    <form action="">

        <div class="search-container">
            <input class="search-input" type="text" name="searchKey" placeholder="Recherche">
            <input class="search-button" type="submit" value="Go !">
        </div>

        <div class="radio-container">
            <span>Rechercher dans :</span>

            <div class="sidebar-subset">
                <input type="radio" id="filter1" name="filter" value="title" checked>
                <label for="filter1">Titre</label>
            </div>

            <div>
                <input type="radio" id="filter2" name="filter" value="summary">
                <label for="filter2">Résumé</label>
            </div>
        </div>

        <div class="checkbox-container">

        <span>Catégories :</span>

        <div class="sidebar-subset">
            <input type="checkbox" id="npc" name="npc">
            <label for="npc">PNJs</label>
        </div>

        <div class="sidebar-subset">
            <input type="checkbox" id="location" name="location">
            <label for="location">Lieux</label>
        </div>

        <div class="sidebar-subset">
            <input type="checkbox" id="encounter" name="encounter">
            <label for="encounter">Rencontres</label>
        </div>

        <div class="sidebar-subset">
            <input type="checkbox" id="item" name="item">
            <label for="item">Objets</label>
        </div>
        
        <div class="sidebar-subset">
            <input type="checkbox" id="intrigue" name="intrigue">
            <label for="intrigue">Intrigue</label>
        </div>


        </div>

    </form>
</section>

<section class="list-container">

        {% for item in items %}

            {{ include('_card.html.twig', {item: item}, with_context = false) }}
        
        {% else %}
            <h2>Aucun résultat trouvé, désolé !</h2>
        {% endfor %}
</section>

</div>

{% endblock %}