{% extends 'base.html.twig' %}

{% block title %}Intrigue index{% endblock %}

{% block body %}
    <h1>Intrigue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Summary</th>
                <th>Type</th>
                <th>Fluff</th>
                <th>Crunch</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intrigue in intrigues %}
            <tr>
                <td>{{ intrigue.id }}</td>
                <td>{{ intrigue.name }}</td>
                <td>{{ intrigue.summary }}</td>
                <td>{{ intrigue.type }}</td>
                <td>{{ intrigue.fluff }}</td>
                <td>{{ intrigue.crunch }}</td>
                <td>{{ intrigue.createdAt ? intrigue.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ intrigue.updatedAt ? intrigue.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('intrigue_show', {'id': intrigue.id}) }}">show</a>
                    <a href="{{ path('intrigue_edit', {'id': intrigue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('intrigue_new') }}">Create new</a>
{% endblock %}
