{% extends 'base.html.twig' %}

{% block title %} {{ intrigue.name }} {{ parent()}}{% endblock %}

{% block body %}
<h2 class="show-title">{{ intrigue.name }}</h2>

<div class="show-main-flex">

    {{ include('_cardShow.html.twig', {item: intrigue}, with_context = false) }}

    <div class="show-sub-flex">
        <h3 class="show-subset-title">Type :</h3>
        <p>{{ intrigue.type }}</p>

        <h3 class="show-subset-title">Description thématique :</h3>
        <p>{{ intrigue.fluff }}</p>

        <h3 class="show-subset-title">Description mécanique :</h3>
        <p>{{ intrigue.crunch }}</p>
    </div>
</div>

<form class="connexion-flex" method="POST" action="">

    <div class="connexion-element">
        <h3 class="element-title">PNJS : </h3>
        <div class="element-list-container">
            {% for npcLink in intrigue.getnpcs() %}
                <a class="element-name" href="{{ path('intrigue_show', {'id': npcLink.id}) }}">-{{ npcLink.name }}</a>
            {% endfor %}
        <select class="formText" id="npcAdd" name="npcAdd">
                <option disabled selected value> -- Ajouter un PNJ -- </option>
            {% for nAdd in npcAdd %}
                <option value={{ nAdd.id }}>{{ nAdd.name }}</option>
            {% endfor %}
        </select>
        <input class="small-button" type="submit" value="Ajouter">
        </div>
    </div>

    <div class="connexion-element">
        <h3 class="element-title">Objets : </h3>
        <div class="element-list-container">
            {% for itemLink in intrigue.getitems() %}
                <a class="element-name" href="{{ path('item_show', {'id': itemLink.id}) }}">-{{ itemLink.name }}</a>
            {% endfor %}
            <select class="formText" id="itemAdd" name="itemAdd">
                    <option disabled selected value> -- Ajouter un objet -- </option>
                {% for itAdd in itemAdd %}
                    <option value={{ itAdd.id }}>{{ itAdd.name }}</option>
                {% endfor %}
            </select>
            <input class="small-button" type="submit" value="Ajouter">
        </div>
    </div>

    <div class="connexion-element">
        <h3 class="element-title">Lieux : </h3>
        <div class="element-list-container">
            {% for locationLink in intrigue.getlocations() %}
                <a class="element-name" href="{{ path('location_show', {'id': locationLink.id}) }}">-{{ locationLink.name }}</a>
            {% endfor %}
        
        <select class="formText" id="locationAdd" name="locationAdd">
                <option disabled selected value> -- Ajouter un lieu -- </option>
            {% for lAdd in locationAdd %}
                <option value={{ lAdd.id }}>{{ lAdd.name }}</option>
            {% endfor %}
        </select>
        <input class="small-button" type="submit" value="Ajouter">
        </div>
    </div>

    <div class="connexion-element">
        <h3 class="element-title">Rencontres : </h3>
        <div class="element-list-container">
            {% for encounterLink in intrigue.getEncounter() %}
                <a class="element-name" href="{{ path('encounter_show', {'id': encounterLink.id}) }}">-{{ encounterLink.name }}</a>
            {% endfor %}
        
        <select class="formText" id="encounterAdd" name="encounterAdd">
                <option disabled selected value> -- Ajouter une rencontre -- </option>
            {% for eAdd in encounterAdd %}
                <option value={{ eAdd.id }}>{{ eAdd.name }}</option>
            {% endfor %}
        </select>
        <input class="small-button" type="submit" value="Ajouter">
        </div>
    </div>

    <div class="connexion-element">
        <h3 class="element-title">Intrigues : </h3>
        <div class="element-list-container">
            {% for intrigueLink in intrigue.getIntrigue() %}
                <a class="element-name" href="{{ path('intrigue_show', {'id': intrigueLink.id}) }}">-{{ intrigueLink.name }}</a>
            {% endfor %}
        
            <select class="formText" id="intrigueAdd" name="intrigueAdd">
                    <option disabled selected value> -- Ajouter une intrigue -- </option>
                {% for inAdd in intrigueAdd %}
                    <option value={{ inAdd.id }}>{{ inAdd.name }}</option>
                {% endfor %}
            </select>
            <input class="small-button" type="submit" value="Ajouter">
        </div>
    </div>
</form>


<div class="show-button-flex">
    <a class="blue-button" href="{{ path('app_searchOwn') }}">Retour à Mes Notes</a>

    <a class="blue-button" href="{{ path('intrigue_edit', {'id': intrigue.id}) }}">Modifier</a>

    {# {{ include('intrigue/_delete_form.html.twig') }} #}
</div>

{% endblock %}
