{% extends 'base.html.twig' %}

{% block title %}Encounter index{% endblock %}

{% block body %}
    <h1>Encounter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Summary</th>
                <th>Fluff</th>
                <th>Crunch</th>
                <th>Rewards</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for encounter in encounters %}
            <tr>
                <td>{{ encounter.id }}</td>
                <td>{{ encounter.name }}</td>
                <td>{{ encounter.summary }}</td>
                <td>{{ encounter.fluff }}</td>
                <td>{{ encounter.crunch }}</td>
                <td>{{ encounter.rewards }}</td>
                <td>{{ encounter.createdAt ? encounter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ encounter.updatedAt ? encounter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('encounter_show', {'id': encounter.id}) }}">show</a>
                    <a href="{{ path('encounter_edit', {'id': encounter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('encounter_new') }}">Create new</a>
{% endblock %}
