<header id="main-header">
    <nav>
        <ul class="main-header-list">
            <li>
                <ul class="main-header-sublist">
                    <li><a href="#">Tables aléatoires</a></li>
                    <li><a href="#">Amorces</a></li>
                    <li><a href="#">F.A.Q</a></li>
                </ul>
            </li>
            <li>
                <ul  class="main-header-sublist">
                    <li><a href="{{ path("app_searchOwn") }}">Mes notes</a></li>
                    <li><a href="{{ path("app_login") }}">Se connecter</a></li>
                    <li><a href="{{ path("app_register") }}">S'inscire</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="header-title-flex">
        <a href="{{ path("app_index") }}">
            <h1>Roll&nbsp;For&nbsp;Many&nbsp;Things</h1>
        </a>
        <a href="{{ path("app_index") }}">
            <h2 class="changing-title"></h2>
        </a>
    </div>
    
    <img class="svg-top" src="{{ asset('build/img/transition.svg') }}" />
</header>
