<header id="main-header">
    <nav>
        <div class="burgerMenu" id="burgerMenu">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <ul class="main-header-list-burger" id="burgerNav">
            <li>
                <ul class="main-header-sublist">
                    <li><a href="{{ path("app_searchOther", {'category': 'table'}) }}">Tables aléatoires</a></li>
                    <li><a href="{{ path("app_searchOther", {'category': 'hook'}) }}">Amorces</a></li>
                </ul>
            </li>
            <li>
                <ul  class="main-header-sublist">
                    <li><a href="{{ path("app_searchOwn") }}">Mes notes</a></li>
                    {% if app.user %}
                    <li>Salutations, {{ app.user.username }}</li>
                    <li><a href="{{ path("app_logout") }}">Se déconnecter</a></li>
                    {% else %}
                    <li><a href="{{ path("app_login") }}">Se connecter</a></li>
                    <li><a href="{{ path("app_register") }}">S'inscire</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>

        <ul class="main-header-list" id="nav">
            <li>
                <ul class="main-header-sublist">
                    <li><a href="{{ path("app_searchOther", {'category': 'table'}) }}">Tables aléatoires</a></li>
                    <li><a href="{{ path("app_searchOther", {'category': 'hook'}) }}">Amorces</a></li>
                </ul>
            </li>
            <li>
                <ul  class="main-header-sublist">
                    <li><a href="{{ path("app_searchOwn") }}">Mes notes</a></li>
                    {% if app.user %}
                    <li>Salutations, {{ app.user.username }}</li>
                    <li><a href="{{ path("app_logout") }}">Se déconnecter</a></li>
                    {% else %}
                    <li><a href="{{ path("app_login") }}">Se connecter</a></li>
                    <li><a href="{{ path("app_register") }}">S'inscire</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </nav>

    <div class="header-title-flex">
        <a href="{{ path("app_index") }}">
            <h1>Roll&nbsp;For&nbsp;Many&nbsp;Things</h1>
        </a>
        <a href="{{ path("app_index") }}">
            <h2 class="changing-title"></h2>
        </a>
    </div>
    
    <img class="svg-top" src="{{ asset('build/img/transition.svg') }}" />
</header>
